* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $clr4;
    color: $clr6;
    font-family: 'livvic-semibold';
}

img {
    width: 100%;
    object-fit: cover;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}