@font-face {
    font-family: 'livvic-semibold';
    src: url(../../fonts/livvic/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: 'livvic-bold';
    src: url(../../fonts/livvic/Livvic-Bold.ttf);
}

@font-face {
    font-family: 'livvic-medium-italic';
    src: url(../../fonts/livvic/Livvic-MediumItalic.ttf);
}