// Colors
$clr1: #79C8C7;
$clr2: #012F34;
$clr3: #F67E7E;
$clr4: #014e56;
$clr5: #2C6269;
$clr6: #ffffff;
$clr7: #004047;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;